<div class="base_flex">
  <div class="lpanel">
    <%= render partial: 'left_panel' %>
  </div>

  <div class="rpanel">
    <h1><%= @api.name %></h1>
    <br>
    <h3>Description</h3>
    <%= simple_format @api.description, class:'description' %>
    <br>
    <h3>Resource URL</h3>
    <p><%= @base_url + @api.resource_url %></p>
    <br>
    <h3>Parameters</h3>
    <%= render partial: 'parameters', collection: @api.api_parameters , as: 'parameter' %>
  </div>
</div>